<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Form</title>

  <!-- STYLESHEETS -->
  <link rel="form" hrf="views/index.html">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

</head>
<body>
  <div class="container">
    <div class="parallaxHeader">
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="">Connect</a></li>
        <li><a href="/main.ejs">Explore</a></li>
      </ul>
        <h1 class="text-center">Hiking Squad</h1>
      </div>
      <h2>Add A Hike</h2>
      <!-- Create form to submit new hike -->
      <div class="square">
        <form class="form" method="POST" action="/api/hikes" id="hike-form">
          <!-- <legend>Deets</legend> -->
          <input class="input" type="text" name="name" placeholder="Hike Name:" /></br>
          <input class="input" type="text" name="state" placeholder="Location (Lat,Long):" /></br>
          <input class="input" type="text" name="date" placeholder="Date:" /></br>
          <input class="input" type="text" name="time" placeholder="Time:" /></br>
          <input class="input submit" type="submit" name="submit" value="Submit" /></br>
        </form>  
        </div> 
  </div>
</body>
</html>
