<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hike Squad</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles/style2.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="scripts/app.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

  <!-- Icons -->
  <script src="https://use.fontawesome.com/460a73c313.js"></script>

</head>
<body>
	<div class="container">
		<div class=header>
			<ul>
        		<li><a href="">Sign Up</a></li>
    		</ul>
      		<h1 class="text-center">Hike Squad</h1>
      		<div class="login">
      			<p class="text">Login</p>

      		</div>
		</div>
	</div>
</body>
</html>