<!DOCTYPE html>
<html>
<head>
  <title>User</title>
    <!-- Style sheet -->
  <link rel="stylesheet" href="../../styles/styleUser.css">

    <!-- Google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!--Icon link -->
<!--   <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->

<!--     JQUERY and Handlebar -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script> 

</head>
<body>
      <!-- Nav bar -->

  <div class="container">
    <div class="parallaxHeader">
      <ul>
        <li><a href="/logout">Logout</a></li>
        <li><a href="/user">My Hikes</a></li>
        <li><a href="/main">Explore</a></li>
      </ul>
        <h1 class="text-center">Hiking Squad</h1>
      </div>
        </div>
      </div>
      </nav>
  </div>

  <h2> My Hikes <h2>

 <!--  <div class="listMyHikes">
        <div class ="row" id="allhikes">
          <!hikes! -->
            
 <!--  </div>
</div> --> 

<div class ="listMyHikes" id="hikeBox">
        <!-- create handlebars template -->
    <script id="hike-template" type="text/x-handlebars-template">
            {{#each hike}}
    <div class ='oneHike'>
      <ul class = 'hikeCard' style='list-style-type:none'>
        <li><span class='hikeName'>Name: {{name}}</span></li>
        <li><span class='hikeState'>State: {{state}}</span></li>
        <li><span class='hikeDate'>Date: {{date}}</span></li>
        <li><span class='hikeTime'>Time: {{time}}</span></li>
      </ul>
        <div id='hikes'>
        </div>
      <div class='btn-group hikebuttons'>
        <button type='button' id='deletebutton' data-id={{_id}}>Delete</button>
        <button type='button' id='editbutton' data-id={{_id}}>Edit</button>
        <!-- Modal for Edit button -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
                            <h2 class="modal-title" id="myModalLabel">Edit Hike</h2>
                        </div>
                        <form method="PUT" action="/user/hikes/:id">
                            <div class="modal-body">
                                <div class="input">
                                    <input class="form-control business_skill_id" type="hidden" name="name">
                                    <input id="hike_content" name="name" placeholder="Enter Name">
                                </div>
                                <div class="input">
                                    <input class="form-control business_skill_content" type="hidden" name="state">
                                    <input id="hike_content"  name="content" placeholder="Enter State">
                                </div>
                                <div class="input">
                                    <input class="form-control business_skill_content" type="hidden" name="date">
                                    <input id="hike_content"  name="content" placeholder="Enter Date">
                                </div>
                                <div class="input">
                                    <input class="form-control business_skill_quote" type="hidden" name="time">
                                    <input id="hike_content" name="content" placeholder="Enter Time">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
      </div>
    </div>
    {{/each}}
    </script>
</div>

        <!-- Form to submit for a new hike -->
        <div class="form">
          <form action="/user/hikes" method="POST" id="hike-form">
            <div class="square">
              <h2>Create a New Hike</h2>
            <input class="input" type="text" placeholder="What is the name of the hike?" name="name"><br>
            <input class="input" type="text" placeholder="Which state is it in?" name="state"><br>
            <input class="input" type="text" placeholder="What is the date of the hike?" name="date"><br>
            <input class="input" type="text" placeholder="What time is it?" name="time"><br>
            <input class="submit" type="submit" name="submit" value="Submit" /></br>
          </form>
        </div>
    </div>
          <!-- Map populates -->
          <div id="map"></div>
 
      <!-- Google map scripts -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkVV9oxUvanUOsvlHPAVp9ru6wf-ZysNY&callback=initMap">
    </script>

      <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- Bootstrap script -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

      <!-- Javascript -->
    <script src="./scripts/app.js"></script>
  

  </body>
</html>